[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
playwright = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
sqlalchemy-serializer = "*"
flower = "*"
playwright-stealth = "*"
pyvirtualdisplay = "*"
fake-useragent = "*"
redis = "*"
requests = "*"
googlemaps = "*"
gunicorn = "*"
celery = {extras = ["redis"], version = "==5.4.0"}

[dev-packages]

[requires]
python_version = "3.12"
