[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
playwright = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
sqlalchemy-serializer = "*"
celery = "*"
flower = "*"
playwright-stealth = "*"
pyvirtualdisplay = "*"
fake-useragent = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "*"
