:root {
  background-color: rgb(46, 46, 46);
  color: #ddd;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.GooglesPlacesMapContainer {
  height: 400px;
  width: 50%;
  margin: auto;
}

